*{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    color: white;
    font-weight: 200;
   }
   .Logo{
    float: left;

 }

 .navbar{
    margin: 0px;
    background-color: rgb(4, 10, 22);

 top: 0;
 left: 0;
 width: 100%;
 height: 15vh; /* Covering 15% of the viewport height */
 background-size:cover /* Cover the entire area */
 background-position: center; /* Center the image */
 position: absolute;
 background-size: cover;


 }
     
 .navbar ul{
     margin: 12px;
     padding: 0px;
     overflow: hidden;
     list-style-type: none;
     text-align: right;
 }
 
    .navbar a{
     color: rgb(231, 252, 41);
     padding: 13px;
     display: block;
     text-align: center;
     text-decoration: none;
     font-size: x-large;
     

    }
 
 .navbar li{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    display: inline-block;
    float: left;
 }


   .navbar a:hover{
   color: rgb(255, 255, 255);
   }


.Background1{
    background-color: rgb(4, 10, 22);
    height: 720px;

 }

 form{
   font-size: 20px;
 }

  

 span{
    display: none;
 }
 .error-message {
    color: red;
    font-size: 12px;
 display: none;
 }
 
 .error {
    color: red;
    font-size: 12px;
    display: none;
 }
 
 .Sign-in-button{
    margin-left: 745px;
 }

.FooterLogo{
   float: left;
}

footer{
   background-color: rgb(3, 3, 26);
   color: white;
}

.ContactUs{
  padding-top: 80px;
   padding-left: 250px;
   padding-bottom: 20px;
   color: white;
   font-size: x-small;

}

/* Styles for the blue box */
.square1{
   width: 400px; /* Set width of the blue box */
   height: 250px; /* Set height of the blue box */
   background-color: #1f88a8; /* Blue color */
border-color: black;
margin-left: 100px;
}

.square1 ul{
   list-style: none;

 
}

.square1 li{
   padding-top: 50px;
   padding-left: 100px;

}

.Footer{
   position: relative;
   font-size: x-small;
}
.FooterNav{
   margin-left: 100px;
margin-top: -10px;
}



.container4{
   display: flex;
   position: relative;
}


.FooterNav li{
  list-style: none;
 list-style-type: none ;
  padding: 20px;
}

.FooterNav a{
   text-decoration: none;
   color: rgb(255, 255, 255);
     
}

.SubscribeToNewsletter{
   margin-left: 100px;
}

.SubscribeToNewsletter h2{
 padding-bottom: 10px;
}


.square2{
   background-color: #1f88a8; /* Blue color */
   height: 35px;
   width: 200px;
}


.square2 h6{
  font-style: italic;
  font-size: small;
  padding-top: 8px;
  opacity: 0.5;
  text-align: center;
}


.square3{
   background-color: #1f88a8; /* Blue color */
   height: 35px;
   width: 35px;
  margin-left: 30px;
 
}


.square3 h6{
   padding-top: 8px;
   text-align: center;
   font-style: normal;
 }



.Copyright{
   float: left;
   margin-top: 200px;
   margin-bottom: 5px;
}

.container5{
   display: flex;
}

input{
   background-color: #1f88a8; /* Blue color */
}


.ResetPasswordTitle h1{
    font-size: 47px;
  }


.EnterYourEmail h1{
    font-size: 25px;
}

.EnterYourEmail{
    padding-bottom: 40px;
    margin-left: -100px;
    padding-top: 30px;
}






form{
    padding-top: 15px;
position: relative;
left: 38%;
font-size: 20px;
}

form input{
   height: 35px; 
   width: 300px;
}

input{
    background-color: rgb(9, 136, 153);
    font-family: inherit;
    margin-bottom: 30px;
}




.Newsletter-imput{
   margin-top: 0px;
   position: absolute;
   top: 12%;
   left: 61%;
   }
   
   .Newsletter-imput input[type="submit"] {
      position: absolute;
      left: 104%;
   top:  28%;
   color: white;
      }
   
      .call-icon{
         position: absolute;
         top: 12%;
         left: 10%;
         }
         
         .email-icon{
            position: absolute;
         top: 32%;
         left: 10%;
         }
         
         .location-icon{
            position: absolute;
         top: 51%;
         left: 10%;
         }

.search-button{
   height: 20px;
   width: 20px;
}

.search-button button{
   background-color: rgb(9, 184, 228);
   top: 33%;
   left: 90%;
   position: absolute;
}

.FooterNav a:hover{
   color: yellow
}

.Background2{
   background-color: rgb(2, 71, 68);
}


  
.searchbar input{
   background-color: rgb(9, 184, 228);
   position: absolute;
   top: 35%;
   
     }

  .searchbar input[type="text"]{
   margin-bottom: bottom : 2px;
   position: absolute;
   left: 67%;
}

 .searchbar input[type="submit"]{
align-self: flex-end;
position: absolute;
left: 90%;
}




  .searchbar{
 display: flex;
 flex-direction: column;
  }

  .Background1 h1{
   padding-top: 100px;
      padding-left: 100px;
      font-size: 47px;
    }
  
    .container3{
      display: block;
      padding-bottom: 100px;
      position: relative;
      gap: 20px;
      }
    
   .container3 img{
      object-fit: cover;
      overflow: hidden; /* Prevent overflow */
      padding-left: 200px;
}

.Text-overlay1{
position: absolute; /* Positions this element relative to its closest positioned ancestor */
top: 5%; /* Distance from top of container */
right: 42%; /* Distance from right of container */
font-size: 35px;
color:whitesmoke;

}



.Text-overlay2{
position: absolute; /* Positions this element relative to its closest positioned ancestor */
top: 0%; /* Distance from top of container */
left: 81%; /* Distance from left of container */
font-weight: bolder;
color:whitesmoke;



}

.Text-overlay3{
position: absolute; /* Positions this element relative to its closest positioned ancestor */
top: 35%; /* Distance from top of container */
right: 41%; /* Distance from left of container */
font-size: 35px;
text-align: center;


}

.Text-overlay4{
position: absolute; /* Positions this element relative to its closest positioned ancestor */
top: 26%; /* Distance from top of container */
left: 81%; /* Distance from left of container */
color:whitesmoke;
}
.Text-overlay5{
position: absolute; /* Positions this element relative to its closest positioned ancestor */
top: 60%; /* Distance from top of container */
right: 41%; /* Distance from left of container */
font-size: 35px;
color: whitesmoke;

}

.Text-overlay6{
position: absolute; /* Positions this element relative to its closest positioned ancestor */
top: 54%; /* Distance from top of container */
left: 81%; /* Distance from left of container */
color: whitesmoke;
}

.Title2 h2{
   padding-left: 600px;
   padding-bottom: 10px;
   padding-top: 10px;
}

form button{
   background-color: #1f88a8; /* Blue color */
   height: 35px;
   width: 100px;
}


.From{
padding-left: 300px;
padding-top: 40px;
   }




.To{
   padding-left: 670px;
margin-top: -55px;
}

.Departure{
   padding-left: 300px;

}

.Return{
   padding-left: 670px;
margin-top: -55px;
}

.Adults{
   padding-left: 300px;
}

.Children{
   padding-left: 670px;
   margin-top: -55px;
}

.Button-flights{
   padding-top: 20px;
   padding-left: 870px;
}
.TwitterIcon{
   position: absolute;
   left: 96%;
   top: 232%;
     }
     .FacebookIcon{
   position: absolute;
   left:93% ;
   top:232%;
     }
   
     .InstagramIcon{
      position: absolute;
   left:87% ;
   top:232%;
     }
   
     
     .TiktokIcon{
      position: absolute;
   left:90% ;
   top: 232%;
     }

     
     @media (max-width : 767px){

      footer{
         flex-direction: column;
      }
    
     }
     